@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<YMCA.Domain.Models.Content.Accordion.IAccordionItemLink>
@using Sitecore.Mvc
@using Sitecore.Support

@* see /ui/content/Accordion *@

<li>
    <strong>@Editable(Model, x => x.Caption)</strong> @RenderLink(Model, x => x.Link, isEditable: true)
</li>